<html ng-app="classyApp">
<head>
	<title>Classy Issue</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src='bower_components/jquery/dist/jquery.min.js'></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
	<script src="src/app.js"></script>

</head>
<body>
	<div class="info">
	</div>
	<div ng-controller="ImageListCtrl as vm" ng-init="vm.addMoreItems()">
		<div class="image-list" infinite-scroll="vm.scroll()">
			<div class="image-container" ng-repeat="photo in vm.photos" ng-click="vm.goToPost($index)">
				<img ng-src="{{photo.imgUrl}}">
			</div>
		</div>
		<div class="spinner"></div>
	</div>
</body>
</html>